*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;  
}

body {
    /* display: cover; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

.bg-image{
    /* background-repeat: no-repeat;   */
    background-size: 100%; 
    width: 100%;
    position: absolute;
    /* display: cover; */
    height: 100%;
}
div>img{
    opacity: .4;
    height: 100%;
    width: 100%;
}
.content{
    position: relative;
}
nav {
    /* background-color: whitesmoke; */
    max-width: 100%;
    height: 60px;
    margin: 15px;
    display: flex;
    justify-content: space-between ;
}
label.logo{
    color: orangered;
    font-size: 35px;
    line-height: 60px;
    font-weight: bold;
    margin-left: 8%;
}

nav ul li{
    display: inline;
    line-height: 60px;
}
nav ul li a {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    padding: 25px;
}
.primary-button{
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    width: 100px;
    margin: 10px;
    margin-right: 15px;
    cursor: pointer;
    /* border-radius: 4px; */
}
.primary-button:hover, .getstartedbtn:hover {
color: white;
background-color: orangered;
transition: 1s;

}

.herosection{
    float: left;
    width: 50rem;
    height: 28rem; 
    margin-left: 1rem;
    padding-left: 7rem;
    padding-top: 3rem;
    }
.herotitle {
    letter-spacing: .2rem;
    font-size: larger;
    
}
.herosection h1{
    font-size: 40px;
    /* color: whitesmoke; */
}
.herosection h3{
    letter-spacing: 15px;
    line-height: 5rem;
    /* color: orangered; */
}
.herosection p{
    font-size: 35px;
    color: orangered;
}

.getstartedbtn{
    margin-top: 20px;
    margin-left: 100px;
    padding: .8rem;
    border: none;
    background-color: whitesmoke;
    /* border-radius: 4px; */
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
}

.works{
    float: left;
    /* color: orangered; */
    border-radius: 5px;
    width: 20rem;
    height: 22rem;
    padding-top: 1rem;
    /* background-image: linear-gradient(to top right, whitesmoke,grey,rgb(146, 88, 88), rgb(243, 126, 126,.5)); */
    text-align: center;
    margin-top: 20px;
    margin-left: 5rem;
    box-shadow: 5px 5px 5rem 5rem rgba(80, 158, 211, .6) inset;
}

.works h2{
    background-color: whitesmoke;
    margin: 10px;
    padding: 5px;
}

.works a{
    color: white;
    padding: 3px;
    line-height: 30px;
    /* width: 50px; */
    
}

.works a:hover, .nav ul li a:hover {
    background-color: white;
    opacity: .8;
    color: orangered;
    font-size: 1.2rem;
    transition: .3s ease-in-out;

}
.herobar {
    height: 3rem;
    margin-top: 500px;
    margin-left: 15px;
    margin-right: 15px;

}

.herobar ul {
    text-align: center;
    background-color: black;
    /* box-shadow: 5px 5px 50rem 50rem #5BABD2 inset; */
    ;
}

.herobar ul li {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    display: inline;
    margin-left: 50px;
    line-height: 3rem;
    align-content: center;
    font-weight: bold;
    cursor: pointer;
}

.herobar ul li:hover, .herobar ul:hover {
    transition: .5s;
    color: orangered;
    text-decoration: overline;
}
