*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;    
}

nav {
    /* background-color: whitesmoke; */
    max-width: 100%;
    height: 60px;
    margin: 15px;
    display: flex;
    justify-content: space-between ;
}
label.logo{
    color: orangered;
    font-size: 35px;
    line-height: 60px;
    font-weight: bold;
    margin-left: 8%;
}

nav ul li{
    display: inline;
    line-height: 60px;
}
nav ul li a {
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    padding: 25px;
}
.primary-button{
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    width: 100px;
    margin: 10px;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 4px;
}
.primary-button:hover, .getstartedbtn:hover {
color: white;
background-color: orangered;
}

body {
    background-image: linear-gradient(whitesmoke,rgb(163, 156, 157),rgb(128, 120, 120), grey, rgb(235, 59, 59,.5));
    background-size: 100%;; 
    background-repeat: no-repeat;
    display: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}
.herosection{
    float: left;
    width: 50rem;
    height: 28rem; 
    margin-left: 1rem;
    padding-left: 7rem;
    padding-top: 3rem;
    }
.herotitle {
    letter-spacing: .2rem;
    font-size: larger;
    color: whitesmoke;
}
.herosection h1{
    font-size: 40px;
    color: whitesmoke;
}
.herosection h3{
    letter-spacing: 15px;
    line-height: 5rem;
    color: orangered;
}
.herosection p{
    font-size: 35px;
    color: white;
}

.getstartedbtn{
    margin-top: 20px;
    margin-left: 100px;
    width: 150px;
    height: 40px;
    border: none;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
    
}

.works{
    float: left;
    /* color: orangered; */
    border-radius: 5px;
    width: 20rem;
    height: 26rem;
    padding-top: 1rem;
    background-image: linear-gradient(to top right, whitesmoke,grey,rgb(146, 88, 88), rgb(243, 126, 126,.5));
    text-align: center;
    margin-top: 20px;
    margin-left: 12rem;
    /* box-shadow: 5px 5px 2px 1px rgb(0,86,156,.2); */
}

.works h2{
    background-color: whitesmoke;
    /* opacity: .5; */
    margin: 10px;
    padding: 5px;
}

.works a{
font-size: 15px;
padding: 3px;
color: white;
line-height: 30px;
width: 50px;

}

.works a:hover, .nav ul li a:hover {
background-color: white;
opacity: .8;
color: orangered;
font-size: 20px;

}
.herobar {
height: 3rem;
margin-top: 500px;
margin-left: 15px;
margin-right: 15px;

}

.herobar ul {
    text-align: center;
}

.herobar ul li {
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    display: inline;
    margin-left: 50px;
    line-height: 3rem;
    align-content: center;
    font-weight: bold;
   cursor: pointer;
}

.herobar ul li:hover{
    color: whitesmoke;
    text-decoration: overline;
}