*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;  
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

.navigation{
   display: flex;
   width: 80%;
   margin: auto;
   justify-content: center;
   flex-wrap: wrap;
   gap: 2rem;
}
nav {
    height: 60px;
}
.logo{
    flex: 1;
    color: orangered;
    /* padding-right: ; */
    font-size: 2rem;
    line-height: 60px;
    font-weight: bold;
}

nav ul li{
    display: inline;
    line-height: 60px;
}
nav ul li a {
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    padding: 1rem;
}
.primary-button{
    margin-top: .5rem;
    font-size: 1rem;
    padding: 1rem 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgb(75, 0, 130,.5);
}
.primary-button:hover, .getstartedbtn:hover {
color: white;
background-color: orangered;
transition: 1s;

}
.mainsection{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin: auto;
    margin-top: 3rem;
    gap: 1rem;
}
.herosection{
    background-color: rgb(75, 0, 130,.1);
    /* border: 1px solid black; */
    flex: 1;
    padding-top: 2rem;
    padding-left: 1rem;
    margin: 0 1rem 0 1rem;
    }
.herotitle {
    letter-spacing: .2rem;
    
}
.herosection h1{
    font-size: 2rem;
}
.herosection h3{
    letter-spacing: .6rem;
    line-height: 5rem;
}
.herosection p{
    font-size: 2rem;
    color: orangered;
}

.getstartedbtn{
    margin-top: 1.2rem;
    margin-left: 5.2rem;
    margin-bottom: 1rem;
    padding: .8rem;
    border: none;
    color: white;
    background-color: rgb(75, 0, 130,.5);
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
}

.works{
    flex: 1;
    border-radius: 5px;
    padding-top: 1rem;
    text-align: center;
    margin: 0 1rem 0 1rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;}

.works h2{
    background-color: whitesmoke;
    margin: 10px;
    padding: 5px;
}

.works a{
    color: black;
    padding: 3px;
    line-height: 30px;
    
}

.works a:hover, .nav ul li a:hover {
    background-color: rgb(127, 79, 161,0.3);
    opacity: .8;
    color: orangered;
    font-size: 1.2rem;
    transition: .3s ease-in-out;

}
